[gcode_macro _FEEDER_VARS]
variable_loading: False
variable_unloading: False 
gcode:

[gcode_macro BTT_FEEDER_PAUSE]
gcode:
    PAUSE  ;暂停打印任务
    {action_respond_info("Filament is out pause")}
    
[gcode_macro BTT_FEEDER_LOAD_FILAMENT] 
gcode:
    {action_respond_info("notify load delay")}
    UPDATE_DELAYED_GCODE ID=NTF_LOAD_FEED DURATION=20.0

[delayed_gcode NTF_LOAD_FEED]
initial_duration: 0.0
gcode:
    {action_respond_info("notify to load filament")}
    BTT_LOAD_FILAMENT
   
[gcode_macro BTT_FEEDER_UNLOAD_FILAMENT]
gcode:  
    {action_respond_info("notify unload delay")}
    UPDATE_DELAYED_GCODE ID=NTF_UNLOAD_FEED DURATION=1.0

[delayed_gcode NTF_UNLOAD_FEED]
initial_duration: 0.0
gcode:
    {action_respond_info("notify to unload filament")}
    BTT_UNLOAD_FILAMENT

[gcode_macro BTT_LOAD_FILAMENT]
gcode:
   {action_respond_info("Loading...")}
   SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0
   SET_GCODE_VARIABLE MACRO=_FEEDER_VARS VARIABLE=loading VALUE=True
   M104 S240  ; Heating 220℃
   TEMPERATURE_WAIT SENSOR=extruder MINIMUM=230  ; 等待喷嘴温度达到200℃
   ;M109 S200 
   M83                            ; set extruder to relative
   G1 E60 F300                    ; load
   G1 E30 F150                    ; prime nozzle with filament
   M82                            ; set extruder to absolute 
   LOAD_FILAMENT_DONE

[gcode_macro LOAD_FILAMENT_DONE]
gcode:
    SET_GCODE_VARIABLE MACRO=_FEEDER_VARS VARIABLE=loading VALUE=False
    #LOAD_FILAMENT SPEED=120
    M400
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
    {action_respond_info("Loaded")}
    
[gcode_macro BTT_UNLOAD_FILAMENT]
gcode:
   {action_respond_info("Unloading...")}
   SET_GCODE_VARIABLE MACRO=_FEEDER_VARS VARIABLE=unloading VALUE=True
   M104 S240  ; Heating 220℃
   TEMPERATURE_WAIT SENSOR=extruder MINIMUM=230  ; Waiting 220℃
   ;BOX_CUT_MATERIAL
   ;M109 S200
   M83                            ; set extruder to relative
   G1 E10 F300                    ; extrude a little to soften tip
   G1 E-30 F1800                  ; retract some
   M82                            ; set extruder to absolute
   UPDATE_DELAYED_GCODE ID=NTF_TO_UNLOAD_DELAY DURATION=5

[delayed_gcode NTF_TO_UNLOAD_DELAY]
initial_duration: 0.0
gcode:
     UNLOAD_FILAMENT_DONE

[gcode_macro UNLOAD_FILAMENT_DONE]
gcode:
    SET_GCODE_VARIABLE MACRO=_FEEDER_VARS VARIABLE=unloading VALUE=False
    M400
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
    {action_respond_info("Unloaded")}
    

[gcode_macro BTT_FEEDER_RESET]
gcode:
    LOAD_FILAMENT_DONE
    UNLOAD_FILAMENT_DONE  
    {action_respond_info("Reset feeder variable ok")}

[gcode_macro BTT_FEEDER_TURN_OFF_HEAT]
gcode:  
    M104 S0
    {action_respond_info("Heat off")}



# Below are the definitions to replace original buffer_stepper.cfg

[gcode_macro CHECK_FILAMENT_STATUS]
gcode:

[delayed_gcode INITIAL_FILAMENT_CHECK]
gcode:
    CHECK_FILAMENT_STATUS  
initial_duration: 1  

[filament_switch_sensor filament_sensor]
switch_pin: PB2
pause_on_runout: False
event_delay: 0.1
insert_gcode: 
    { action_respond_info("Insert Detected!") }
    # SET_PIN PIN=LED_Green VALUE=1.00   
    # SET_GCODE_VARIABLE MACRO=variables VARIABLE=is_manual_feeding VALUE=False
runout_gcode:  
    # CONTINUE_PRINT_D D={1100}
    { action_respond_info("Runout Detected") }
    {% if printer.print_stats.state == "printing" %}
      _FIL_CHANGE_PARK
    {% endif %}

# [gcode_macro SET_PIN]
# rename_existing: BASE_SET_PIN
# gcode:
#     {% set target_pin = params.PIN|string %}
    
#     # Check if the START_PRINT macro is calling one of the old LED pins
#     {% if target_pin in ['red_led', 'blue_led', 'green_led'] %}
#         # Do nothing - command intercepted and ignored
#         # M118 Ignored dummy LED pin: {target_pin}
#     {% else %}
#         # It's a real pin, pass all parameters to the original command
#         BASE_SET_PIN {rawparams}
#     {% endif %}

[gcode_macro MANUAL_FEED]
gcode:
    # DO Nothing

[gcode_macro NOZZLE_CLOG_CHECK]
variable_extrusion_start: 0
variable_time_start: 0
gcode:
    # DO Nothing

[gcode_macro variables]
variable_stop_feeding: False
variable_feeding_out: False
variable_is_manual_feeding: False
variable_plug_status: False
variable_winding_status: False
variable_clog_retry: False
gcode:
    # Dummy macro to prevent RESUME from crashing when resetting variables

[gcode_macro BUFFER_STEPPER]
gcode:
    # Intercept and ignore all buffer stepper commands from UNLOAD_FILAMENT for now

[gcode_macro BUFFER_LONG_UNLOAD_FILAMENT]
gcode:
    # Sovol Buffer doesn't exist, so just do a BTT Unload instead
    BTT_UNLOAD_FILAMENT
    M400