#[include Macro.cfg]
#[include moonraker_obico_macros.cfg]
#[include buffer_stepper.cfg]

# [include chamber_hot.cfg]
# [include mainsail.cfg]
# [include My_Macros.cfg] 
# [include ./Demon_Klipper_Essentials_Unified/*.cfg]
# [include ./Demon_User_Files/*.cfg]
# [include ./Demon_Klipper_Essentials_Unified/Other_Files/Demon_User_Files_Updater/Demon_User_Files_Handler_v*.cfg]
# [include ./KAMP_LiTE/*.cfg]
# [include ./Heat_Soak_Sovol_SV08.cfg]
# [include btt_feeder.cfg]
# [include timelapse.cfg]
# [include plr.cfg]
[include mainsail.cfg]
#[include chamber_hot.cfg]
#[include buffer_stepper.cfg]
[include timelapse.cfg]
[include plr.cfg]
# [include Macro.cfg]
# [include moonraker_obico_macros.cfg]
[include ./Demon_Klipper_Essentials_Unified/*.cfg]
[include ./Demon_User_Files/*.cfg]
[include ./Demon_Klipper_Essentials_Unified/Other_Files/Demon_User_Files_Updater/Demon_User_Files_Handler_v*.cfg]
[include ./KAMP_LiTE/*.cfg]
[include ./Heat_Soak.cfg]
[include ./My_Macros.cfg]


# Detected UUID: f2abe89223c1, Application: Klipper
# Detected UUID: 58a72bb93aa4, Application:          91cedea43fbb
# Detected UUID: b963c91678f2, Application: Klipper
# CANBus UUID Query Complete

[mcu] 
canbus_uuid: f2abe89223c1

[mcu extra_mcu]
canbus_uuid: b963c91678f2 #61755fe321ac   

[temperature_sensor mcu_temp]         
sensor_type: temperature_mcu
min_temp:0
max_temp:100

[temperature_sensor Host_temp]     
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[virtual_sdcard] 
path:/home/sovol/printer_data/gcodes/

[exclude_object]

# [printer]
# kinematics: corexy
# max_velocity: 700            
# max_accel: 40000             
# minimum_cruise_ratio: 0.25
# max_z_velocity: 10           
# max_z_accel: 500             
# square_corner_velocity: 5.0  

[printer]
kinematics: corexy
max_velocity: 700
max_accel: 5500      
minimum_cruise_ratio: 0.5
max_z_velocity: 20
max_z_accel: 500
square_corner_velocity: 5.0

[lis2dw]
cs_pin: extra_mcu:PB12
spi_software_sclk_pin: extra_mcu:PB13
spi_software_mosi_pin: extra_mcu:PB15
spi_software_miso_pin: extra_mcu:PB14
axes_map: x,z,y

# [resonance_tester]
# accel_chip: lis2dw
# probe_points:
#     250, 250, 30  
# accel_per_hz:100
# min_freq: 35
# max_freq: 45
# max_smoothing: 0.25
# hz_per_sec: 1.0

[resonance_tester]
accel_chip: lis2dw
probe_points: 250, 250, 30  
max_smoothing: 0.05
# accel_per_hz:100
# min_freq: 35
# max_freq: 45
# hz_per_sec: 1.0

[input_shaper]
damping_ratio_x: 0.001
damping_ratio_y: 0.001

# [probe_eddy_current eddy]
# sensor_type: ldc1612
# # descend_z: True
# z_offset: 3.50
# i2c_mcu: extra_mcu
# i2c_bus: i2c2
# x_offset: -19.8
# y_offset: -0.75
# # vir_contact_speed: 3.0   

[probe_eddy_ng eddy]
sensor_type: ldc1612
i2c_mcu: extra_mcu
i2c_software_scl_pin: extra_mcu:PB10
i2c_software_sda_pin: extra_mcu:PB11
# i2c_bus: i2c2
x_offset: -19.8
y_offset: -0.75

probe_speed: 5.0
lift_speed: 10.0
move_speed: 50.0
home_trigger_height: 2.0
calibration_z_max: 5.0
reg_drive_current: 15
#tap_drive_current: 0
tap_start_z: 3.0
tap_target_z: -0.350
tap_mode: butter
tap_threshold: 250
tap_speed: 3.0
tap_adjust_z: 0.000
tap_samples: 3
tap_max_samples: 8
tap_samples_stddev: 0.025

[z_offset_calibration]  
non_contact_probe:probe_eddy_current eddy
contact_probe:probe_eddy_current eddy
endstop_xy_position: 250,251   
# center_xy_position: -10,10                   
z_hop: 5                       
z_hop_speed: 10
internal_endstop_offset: -0.2 

[bed_mesh]
speed: 400
horizontal_move_z: 1.5
algorithm: bicubic 
mesh_min: 13,15              
mesh_max: 476,490
probe_count: 60,60
fade_start: 0
fade_end: 10
scan_overshoot: 4

[quad_gantry_level]          
gantry_corners:              
	-70,-40
	550,600
points:
    50, 30
    50, 470
    490, 470
    490, 30
speed: 400                   
horizontal_move_z: 15
retry_tolerance: 0.1
retries: 15                  
max_adjust: 20

# [homing_override]
# gcode:
#    {% if not 'Z' in params and not 'Y' in params and 'X' in params %}
#      G90
#      G0 Z5 F300
#      M9928 X
#    {% elif not 'Z' in params and not 'X' in params and 'Y' in params %}
#      G90
#      G0 Z5 F300
#      M9928 Y
#    {% elif not 'Z' in params and 'X' in params and 'Y' in params %}
#      G90
#      G0 Z5 F300
#      M9928 X
#      M9928 Y
#    {% elif 'Z' in params and not 'X' in params and not 'Y' in params %}
#      G90
#      G0  X271 Y251 F9000
#      M9928 Z
#      G0  Z10 F600
#    {% else %}
#      G90
#      G0 Z5 F300
#      M9928 X
#      M9928 Y
#      G90
#      G0  X271 Y251 F9000
#      M9928 Z
#      G0  Z10 F600
#    {% endif %}
# axes: xyz
# set_position_z: 0

# [safe_z_home]
# home_xy_position: 250, 250  # Replace with the center of your printer's bed
# speed: 50
# z_hop: 10                   # Raises the Z axis before moving to prevent scraping
# z_hop_speed: 15

    
[stepper_x]   
step_pin: PE1
dir_pin: PD7
enable_pin: !PD5
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: ^extra_mcu:PA10   
position_min: -11              
position_endstop: -11
position_max: 502
homing_speed: 120
homing_retract_dist: 3
homing_retract_speed: 15.0

[tmc5160 stepper_x]
cs_pin: PE0
spi_software_mosi_pin: PB6
spi_software_miso_pin: PB5
spi_software_sclk_pin: PB4
interpolate: false
run_current: 3.0
sense_resistor: 0.05
stealthchop_threshold: 0   
driver_MULTISTEP_FILT: True
driver_IHOLDDELAY: 15     
driver_TPOWERDOWN: 1      
driver_TBL: 3              
driver_TOFF: 5             
driver_HEND: 0             
driver_HSTRT: 7            
driver_PWM_FREQ: 2         
driver_PWM_AUTOSCALE: True
driver_PWM_AUTOGRAD: True
driver_PWM_OFS: 28         
driver_PWM_REG: 8          
driver_VHIGHFS: 0
driver_VHIGHCHM: 1   

[stepper_y]  
step_pin: PD3
dir_pin: PD2
enable_pin: !PD0
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: ^PD1
position_min: -1               
position_endstop: 505
position_max: 505       
homing_speed: 120
homing_retract_dist: 3
homing_retract_speed: 15.0

[tmc5160 stepper_y]
cs_pin: PD4
spi_software_mosi_pin: PB6
spi_software_miso_pin: PB5
spi_software_sclk_pin: PB4
interpolate: false
run_current: 3.0
sense_resistor: 0.05              
stealthchop_threshold: 0        
driver_MULTISTEP_FILT: True
driver_IHOLDDELAY: 15     
driver_TPOWERDOWN: 1      
driver_TBL: 3              
driver_TOFF: 5             
driver_HEND: 0             
driver_HSTRT: 7            
driver_PWM_FREQ: 2         
driver_PWM_AUTOSCALE: True
driver_PWM_AUTOGRAD: True
driver_PWM_OFS: 28         
driver_PWM_REG: 8          
driver_VHIGHFS: 0
driver_VHIGHCHM: 1

# [stepper_z]  #z1
# step_pin: PA8
# dir_pin: PC9
# enable_pin: !PA10
# rotation_distance: 40         
# gear_ratio: 80:12             
# microsteps: 16
# endstop_pin: probe: z_virtual_endstop
# position_max: 505             
# position_min: -10              
# homing_speed: 10.0
# homing_retract_dist: 5.0
# homing_retract_speed: 10.0
# second_homing_speed: 5.0

[stepper_z]  #z1
step_pin: PA8
dir_pin: PC9
enable_pin: !PA10
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16
endstop_pin: probe: z_virtual_endstop
position_max: 505             
position_min: -1 #-10              ---------------------------------------//////,<
homing_speed: 10.0
homing_retract_dist: 5.0
homing_retract_speed: 10.0
second_homing_speed: 5.0

[tmc2209 stepper_z]  
uart_pin: PA9 
interpolate: true             
run_current: 1.2            
sense_resistor: 0.150          
uart_address:3
stealthchop_threshold: 999999

[stepper_z1] #z2
step_pin: PC6
dir_pin: !PD15
enable_pin: !PC8
rotation_distance: 40         
gear_ratio: 80:12            
microsteps: 16    

[tmc2209 stepper_z1]
uart_pin: PC7  
interpolate: true             
run_current:  1.2          
sense_resistor: 0.150         
uart_address:3
stealthchop_threshold: 999999

[stepper_z2]  #z3
step_pin: PA5
dir_pin: PA4
enable_pin: !PA7
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16

[tmc2209 stepper_z2]
uart_pin: PA6
interpolate: true             
run_current: 1.2          
sense_resistor: 0.150          
uart_address:3
stealthchop_threshold: 999999

[stepper_z3]  #z4
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB15
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 16                        

[tmc2209 stepper_z3]
uart_pin: PB14
interpolate: true            
run_current: 1.2                   
sense_resistor: 0.150         
uart_address:3
stealthchop_threshold: 999999

[adc_temperature extruder_thermistor]
temperature1:25
resistance1:1268.60
temperature2:180
resistance2:1920.98
temperature3:300
resistance3:2398.52

[extruder]
step_pin: extra_mcu:PA8   
dir_pin: extra_mcu:PA9
enable_pin:!extra_mcu:PA11   
rotation_distance: 6.5 
microsteps: 16                
full_steps_per_rotation: 200 
nozzle_diameter: 0.600        
filament_diameter: 1.75  
max_extrude_only_distance: 150     
max_extrude_cross_section: 5  # was 60, must stay => 5
heater_pin:extra_mcu:PB7 
sensor_type:extruder_thermistor  
pullup_resistor: 11500
sensor_pin: extra_mcu:PA5  
min_temp: -0
max_temp: 310
max_power: 1.0
min_extrude_temp: 150
#control : pid
#pid_kp : 34.838
#pid_ki : 4.976
#pid_kd : 62.823
pressure_advance: 0.025
pressure_advance_smooth_time: 0.035

[tmc2209 extruder]
uart_pin: extra_mcu:PA12
interpolate: True
run_current: 0.8
hold_current: 0.3
uart_address:3
sense_resistor: 0.150

[verify_heater extruder]      
max_error: 120                
check_gain_time:30           
hysteresis: 10              
heating_gain: 2          

[thermistor bed_thermistor]
temperature1: 25
resistance1: 100000
temperature2: 50
resistance2: 18085.4
temperature3: 100
resistance3: 5362.6

[heater_bed]
heater_pin: PD12
sensor_type: bed_thermistor  
sensor_pin: PC5
max_power: 1.0               
min_temp: -0            
max_temp: 110              
#control : pid
#pid_kp : 73.571
#pid_ki : 1.820
#pid_kd : 783.849

[verify_heater heater_bed]      
max_error: 120                
check_gain_time: 90           
hysteresis: 10               
heating_gain: 1 

# [fan_generic fan0] # front model cool fan
# pin: extra_mcu: PB0
# max_power: 1.0

# [fan_generic fan1] # back model cool fan
# pin: extra_mcu: PA7
# max_power: 1.0

# [fan_generic fan2] # auxiliary fan
# pin: PB0
# max_power: 1.0

# [fan_generic fan3] # exhaust fan
# pin: PE11
# max_power: 1.0

# [output_pin main_led] 
# pin: PD13
# value: 1.0

[led main_led]
white_pin: PD13
cycle_time: 0.001
initial_WHITE: 1.0


[multi_pin fan_pins]
pins: extra_mcu:PA7, extra_mcu:PB0

[fan]
pin:multi_pin: fan_pins
max_power: 1.0
shutdown_speed: 0
kick_start_time: 0.5
off_below: 0.10

# [fan_generic fan2] 
# pin: extra_mcu:PB0
# tachometer_pin: PB1
# max_power: 1.0

[fan_generic fan3] 
pin: PE11
tachometer_pin: PE13
max_power: 1.0

[heater_fan hotend_fan]      
pin: extra_mcu: PA6   
max_power: 1.0               
kick_start_time: 0.5         
heater: extruder             
heater_temp: 45              
tachometer_pin:extra_mcu: PA1
tachometer_ppr: 1
tachometer_poll_interval: 0.0013

# [heater_fan bed_fan]      
# pin: PE14
# max_power: 1.0               
# kick_start_time: 0.5         
# heater: heater_bed             
# heater_temp: 35              
# tachometer_pin: PB10
# tachometer_ppr: 2
# tachometer_poll_interval: 0.001375

[controller_fan Bed_SSR_Fan]
pin: PE14  
max_power: 1.0               
kick_start_time: 0.5
fan_speed: 1.0
idle_timeout: 600
stepper:
heater: heater_bed
tachometer_pin: PB10
tachometer_ppr: 2
tachometer_poll_interval: 0.001375

###################################################################### unsure 

# [filament_motion_sensor encoder_sensor]
# switch_pin: PB2 ## <<<<<< insert board pin
# detection_length: 9
# extruder: extruder
# pause_on_runout: False
# insert_gcode:
#     { action_respond_info("Filament Encoder is Running") }
# runout_gcode:
#     { action_respond_info("Filament Encoder Stall Detected") }
#     {% if printer.print_stats.state == "printing" %}
#       _FIL_CHANGE_PARK
#     {% endif %}

# [delayed_gcode encoder_sensor]
# initial_duration: 1
# gcode:
#     SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0

#######################################################################    

[gcode_arcs]                       
resolution: 1.0    

[firmware_retraction]
retract_length: 0.8
retract_speed: 30
unretract_extra_length: 0.0
unretract_speed: 30

[force_move]
enable_force_move: True

#[idle_timeout]
#gcode: _IDLE_TIMEOUT
#timeout: 1800

[idle_timeout]
gcode:
    _DEMON_IDLE_TIMEOUT
timeout: 3600

#[save_variables]
#filename =/home/sovol/printer_data/config/saved_variables.cfg

[save_variables]
filename = ~/demon_vars.cfg

[include shell_command.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = zv
#*# shaper_freq_x = 42.8
#*# shaper_type_y = mzv
#*# shaper_freq_y = 37.6
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 31.114
#*# pid_ki = 5.186
#*# pid_kd = 46.669
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 64.888
#*# pid_ki = 0.395
#*# pid_kd = 2662.031
#*#
#*# [probe_eddy_ng eddy]
#*# calibrated_drive_currents = 15
#*# calibration_version = 5
#*# tap_drive_current = 15
#*#
#*# calibrate =
#*# 	0.050625:6121271.297,0.090000:6119671.427,0.129375:6117560.585,
#*# 	0.170625:6115457.080,0.210000:6113382.707,0.249375:6111428.063,
#*# 	0.290625:6109494.806,0.330000:6107481.245,0.369375:6105716.024,
#*# 	0.410625:6103746.919,0.450000:6101971.190,0.489375:6100162.127,
#*# 	0.530625:6098441.642,0.570000:6096728.232,0.609375:6095158.547,
#*# 	0.650625:6093454.881,0.690000:6091960.244,0.729375:6090430.574,
#*# 	0.770625:6088924.639,0.810000:6087572.061,0.849375:6086027.250,
#*# 	0.890625:6084656.063,0.930000:6083194.304,0.969375:6081969.194,
#*# 	1.010625:6080572.066,1.050000:6079313.975,1.089375:6078062.423,
#*# 	1.130625:6076834.887,1.170000:6075613.133,1.209375:6074429.575,
#*# 	1.250625:6073242.153,1.290000:6072147.857,1.329375:6071138.915,
#*# 	1.370625:6070026.226,1.410000:6069047.060,1.449375:6067962.065,
#*# 	1.490625:6066961.468,1.530000:6065921.228,1.569375:6065025.181,
#*# 	1.610625:6064011.355,1.650000:6063088.190,1.689375:6062176.150,
#*# 	1.730625:6061263.938,1.770000:6060372.928,1.809375:6059530.370,
#*# 	1.850625:6058688.641,1.890000:6057806.559,1.929375:6057022.680,
#*# 	1.970625:6056147.203,2.010000:6055404.011,2.049375:6054578.521,
#*# 	2.090625:6053906.295,2.130000:6053181.176,2.169375:6052478.798,
#*# 	2.210625:6051688.939,2.250000:6051021.129,2.289375:6050338.423,
#*# 	2.330625:6049657.166,2.370000:6049041.178,2.409375:6048345.603,
#*# 	2.450625:6047751.591,2.490000:6047048.424,2.529375:6046491.131,
#*# 	2.570625:6045846.892,2.610000:6045284.890,2.649375:6044665.898,
#*# 	2.690625:6044094.916,2.730000:6043515.595,2.769375:6042992.007,
#*# 	2.810625:6042417.024,2.850000:6041902.989,2.889375:6041381.004,
#*# 	2.930625:6040872.328,2.970000:6040405.501,3.009375:6039857.849,
#*# 	3.050625:6039375.011,3.090000:6038878.336,3.129375:6038426.995,
#*# 	3.170625:6037970.104,3.210000:6037515.081,3.249375:6037051.252,
#*# 	3.290625:6036633.101,3.330000:6036184.647,3.369375:6035798.438,
#*# 	3.410625:6035380.937,3.450000:6034961.954,3.489375:6034582.831,
#*# 	3.530625:6034141.835,3.570000:6033763.193,3.609375:6033362.113,
#*# 	3.650625:6032984.812,3.690000:6032604.709,3.729375:6032275.286,
#*# 	3.770625:6031885.526,3.810000:6031558.316,3.849375:6031169.504,
#*# 	3.890625:6030851.979,3.930000:6030493.739,3.969375:6030174.911,
#*# 	4.010625:6029855.503,4.050000:6029636.037
